@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;

body {
    @apply font-serif;
    font-size: 16px;
    line-height: 1.65rem;
    color: #353533;
    background-color: #f2f2f0;
}

p {
    margin-bottom: 1.85rem;
}

p {
    margin-bottom: 0;
}

p + p {
    text-indent: 1.85rem;
    margin-top: 0;
}

h1 {
    @apply font-semibold text-4xl mb-12 mt-12;
}

h2 {
    @apply font-semibold text-3xl mb-6 mt-12;
}

h3 {
    @apply font-semibold text-2xl mb-4 mt-12;
}

.layout {
    margin: auto;
    max-width: 70ch;
    padding: 6ch 2ch;
}

.navbar {
    margin: auto;
    max-width: 100ch;
    padding: 2ch;
}

.search {
    margin: auto;
    max-width: 64ch;
}

.focus {
    @apply outline-none focus:ring ring-offset-transparent ring-text ring-opacity-75;
}

/* Disable iOS specific styling applied to elements */
input[type='search'] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

@tailwind components;
@tailwind utilities;
