@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;

@font-face {
    font-family: 'Byron';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://bairun-fonts.netlify.app/sohne-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Byron';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('https://bairun-fonts.netlify.app/sohne-regular-cursive.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Byron';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('https://bairun-fonts.netlify.app/sohne-semibold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Byron';
    font-style: italic;
    font-weight: 600;
    src: local(''), url('https://bairun-fonts.netlify.app/sohne-semibold-cursive.woff2') format('woff2');
    font-display: swap;
}

body {
    @apply font-serif;
    font-size: 18px;
    line-height: 1.75rem;
    color: #353533;
    background-color: #f2f2f0;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

p {
    margin-bottom: 0;
}

p + p {
    text-indent: 1.75rem;
    margin-top: 0;
}

h1,
h2,
h3 {
    @apply font-sans tracking-tight font-semibold;
}

h1 {
    @apply text-4xl mb-12 mt-12;
}

h2 {
    @apply text-2xl mb-6 mt-12;
}

h3 {
    @apply text-lg mb-4 mt-12;
}

.layout {
    margin: auto;
    max-width: 70ch;
    padding: 6ch 2ch;
}

.navbar {
    margin: auto;
    max-width: 100ch;
    padding: 2ch;
}

.search {
    margin: auto;
    max-width: 64ch;
}

.focus {
    @apply outline-none focus:ring ring-offset-transparent ring-text ring-opacity-75;
}

/* Disable iOS specific styling applied to elements */
input[type='search'] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

@tailwind components;
@tailwind utilities;
